
<section class="row-fullwidth home-hero" id="intro">
  <div class="col-half sq-half fullheight-sm">
    <div class="sq-content-flush page-header home-header">
      <script>
        $(function(){
            $(".lm-hero").typed({
              strings: [
                "{{site.data.homeSettings.first-h1}}",
                "{{site.data.homeSettings.second-h1}}"],
              typeSpeed: {{site.data.homeSettings.typeSpeed}}
            });
        });
      </script>
      <span class="intro-head red-head">
        Laxalt & MCIVER
      </span>
      <h1 class="lm-hero highlight-hover"></h1>
    </div>
  </div>
  <div class="col-half sq-half">
    <div class="sq-content bg-img blur" id="hero-img">
    </div>
  </div>
</section>

<section class="row-fullwidth" id="intro">
  <div class="col-half sq-half">
    <div class="sq-content bg-img blur" style="background-image:url('{{site.baseurl}}{{site.data.homeSettings.subhero}}')">
    </div>
  </div>
  <div class="col-half sq-half sq-half-reset-sm">
    <div class="sq-content-flush page-header home-header blur  sq-content-reset-sm padding-top-indent-2x-sm padding-bottom-indent-2x-sm">
      <div class="center-y-absolute page-hero-intro center-y-reset-sm">
        <span class="intro-head red-head">{{site.data.homeSettings.subHead}}</span>
        <h2 class="article-head">
          {{site.data.homeSettings.subHeadFeature}}
        </h2>
        <p class="intro-desc">
          Unapologetic <a href="{{site.baseurl}}/projects/">brand experiences</a> and carefully <a href="{{site.baseurl}}/services/">crafted solutions</a> from the <a href="{{site.baseurl}}/culture/">human perspective</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row row-fullwidth" id="features">
  <div class="col-half">
    <div class="col-half sq-half">
      <div class="sq-content bg-img home-box-1 blur">
      </div>
    </div>
    <div class="col-half sq-half">
      <div class="sq-content bg-img home-box-2 blur">
      </div>
    </div>
    <a href="{{site.baseurl}}{{site.data.homeSettings.cta-link}}">
      <div class="col-full">
        <div class="content cta-block">
          <div class="cta-block-wrapper">
            <span class="intro-head red-head">
              {{site.data.homeSettings.focus-small}}
            </span>
            <h2 class="article-head">
              {{site.data.homeSettings.focus}}
            </h2>
            <a href="{{site.baseurl}}{{site.data.homeSettings.cta-link}}" class="button-line-peach">
              {{site.data.homeSettings.cta}}
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% for post in site.posts %}
  {% if post.homefocus %}
  <div class="col-half sq-half blur">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="sq-content bg-img post blur" style="
      background:url({{ site.baseurl }}{{ post.background-img }});
      background-size:cover;
      background-position:center center;
      background-repeat:no-repeat;
      ">
        <div class="overlay">
        </div>
        <div class="label plax-1">
          <span class="intro-head red-head">
            {{ post.client }}
          </span>
          <h2 class="label-head">
            {{ post.title }}
          </h2>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</section>

<script type="text/javascript">
    var imgCount = 6;
        var dir = '{{site.baseurl}}/assets/images/home/';
        var randomCount = Math.round(Math.random() * (imgCount - 1)) + 1;
        var images = new Array
                images[1] = "hero-1.jpg",
                images[2] = "hero-2.jpg",
                images[3] = "hero-3.jpg",
                images[4] = "hero-4.jpg",
                images[5] = "hero-5.jpg",
                images[6] = "hero-6.jpg",
        document.getElementById("hero-img").style.backgroundImage = "url(" + dir + images[randomCount] + ")";
</script>

<script src="{{ site.baseurl }}/typed.js"></script>
