{% comment %} footer {% endcomment %}
<footer role="contentinfo">
  <div class="lmnt-inner">
    <span class="txt-caption">
      Art Transcending Commercial
    </span>
    <h1>
      Remember to Stretch
    </h1>
    <a href="http://www.laxaltandmciver.co/" class="lmnt-btn lmnt-btn-line lmnt-btn-clr-white">
      Our Studio
    </a>

    {% comment %} bottom of footer {% endcomment %}
    <div class="lmnt-copyright">
      <div>
        {% include 'ico-wordmark-abbreviated' %}
      </div>
      <div>
        <span class="txt-caption">
          © {{ 'now' | date: "%Y" }}
        </span>
      </div>
      <div>
        <span class="txt-caption">
          COLD BREWED IN RENO, NEVADA
        </span>
      </div>
    </div>
  </div>
</footer>
{% comment %} /footer {% endcomment %}
