<div class="lmnt-nav-uni">
  <div class="lmnt-inner">

    <div class="lmnt-nav-switch">

      <ul class="lmnt-nav-switch-list">
        <a href="http://laxaltandmciver.co/">
          <li class="lmnt-anim-slide-from-bottom-1 inactive">
            Studio
          </li>
        </a>
        <a href="/" class="active">
          <li class="lmnt-anim-slide-from-bottom-3">
            Shop
          </li>
        </a>
      </ul>

    </div>

    <div class="lmnt-nav-side-bottom">
      <div class="lmnt-nav-contact-wrap lmnt-anim-slide-from-bottom-4">
        <a href="/pages/contact">
          Let's Talk
        </a>
      </div>
    </div>

  </div>
</div>
