{% comment %} nav {% endcomment %}
{% comment %} we're loading this from the forestry.io side so our navigations sync correctly {% endcomment %}
<nav id="lmntRemoteNav" role="navigation">
  <div class="lmnt-nav-top">
    <div class="lmnt-inner">

      <div class="lmnt-nav-left">
        <div class="lmnt-nav-branding">
          <div class="lmnt-branding">
            <a href="/">
              {% include 'ico-brandmark' %}
            </a>
          </div>
          <span class="lmnt-nav-bar">
          </span>
        </div>

        <dl class="lmnt-nav-list">
          <a href="/">
            <dt class="lmnt-anim-fadein-3">
              art
            </dt>
          </a>
          <a href="/">
            <dt class="lmnt-anim-fadein-4">
              goods
            </dt>
          </a>
          <a href="/">
            <dt class="lmnt-anim-fadein-5">
              resources
            </dt>
          </a>
        </dl>
      </div>

      <div class="lmnt-nav-right">
        <div class="lmnt-nav-menu">
          <div class="lmnt-cart">
            <span class="lmnt-cart-total">
              1
            </span>
            {% include 'ico-cart' %}
          </div>
          <div class="lmnt-hamburger">
            <span class="lmnt-bar"></span>
            <span class="lmnt-bar"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
{% comment %} /nav {% endcomment %}
