{% comment %}
  This include is generally used within the collections loop - so stick to those objects please. ```collections_count``` is my way of not using a <dt> tag to increment numbers.
{% endcomment %}

{% assign collections_count = collections_count | plus: 1 %}

<section class="lmnt-collection-loop">
  <div class="row-site-width">
    <div class="row-head">
      <span>
        {{ collections_count | prepend:'0' }}
      </span>
      <h3>
        {{ collection.title }}
      </h3>
    </div>
    <div class="content">

      {% for product in collection.products limit: 2 %}
        {% include 'lmnt-product-card' card_size: 'half' %}
      {% endfor %}
      {% for product in collection.products offset: 2 limit: 1 %}
        {% include 'lmnt-product-card' card_size: 'full' %}
      {% endfor %}

    </div>
    <div class="row-cta">
      <a href="#" class="lmnt-btn lmnt-btn-linear lmnt-btn-clr-main">
        {% include 'ico-arrow-down'%}
        View All {{ collection_title }}
      </a>
    </div>
  </div>
</section>
