<div class="lmnt-nav-overlay">
  <div class="lmnt-inner">

    <div class="lmnt-nav-overlay-col-1">
      <div class="lmnt-nav-overlay-col">
        {% include 'ico-brandmark' overlay:'true' %}
      </div>
      <div class="lmnt-nav-overlay-col">
      </div>
    </div>

    <div class="lmnt-nav-overlay-col-2">
      <div class="lmnt-nav-overlay-col">
        <div class="lmnt-nav-overlay-col lmnt-anim-slide-from-top-2">
          {% include 'ico-wordmark-stack' %}
        </div>
        <div class="lmnt-nav-overlay-col">
          <ul class="nav-overlay-contact lmnt-anim-slide-from-top-3">
            <li>
              +1 775 990 8420
            </li>
            <li>
              info@laxaltandmciver.co
            </li>
            <li>
              119 Thoma Street
            </li>
            <li>
              Reno, Nevada 89509
            </li>
          </ul>
        </div>
      </div>

      <div class="lmnt-nav-overlay-col lmnt-anim-slide-from-left-2">
        <a href="/pages/contact">
          let's talk
        </a>
      </div>

      <div class="lmnt-nav-overlay-col">
        <ul class="nav-overlay-social lmnt-anim-slide-from-bottom-3">
          <li>
            <a href="#">
              dribbble
            </a>
          </li>
          <li>
            <a href="#">
              instagram
            </a>
          </li>
          <li>
            <a href="#">
              github
            </a>
          </li>
          <li>
            <a href="#">
              behance
            </a>
          </li>
          <li>
            <a href="#">
              facebook
            </a>
          </li>
          <li>
            <a href="#">
              linkedin
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="lmnt-nav-overlay-col-3">
      <span class="lmnt-nav-overlay-header lmnt-anim-slide-from-left-2">
        Studio
      </span>
      <dl class="lmnt-overlay-nav-list">
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-3">
            design
          </dt>
        </a>
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-4">
            web
          </dt>
        </a>
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-5">
            culture
          </dt>
        </a>
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-5">
            services
          </dt>
        </a>
      </dl>
    </div>

    <div class="lmnt-nav-overlay-col-4">
      <span class="lmnt-nav-overlay-header lmnt-anim-slide-from-left-4">
        Shop
      </span>
      <dl class="lmnt-overlay-nav-list">
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-3">
            art
          </dt>
        </a>
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-4">
            goods
          </dt>
        </a>
        <a href="/">
          <dt class="lmnt-anim-slide-from-bottom-5">
            resources
          </dt>
        </a>
      </dl>
    </div>

    <div class="lmnt-hamburger lmnt-menu-toggle lmnt-anim-slide-from-right">
      <span class="lmnt-bar"></span>
      <span class="lmnt-bar"></span>
    </div>

  </div>
</div>
