{% comment %} nav {% endcomment %}
{% comment %} we're loading this from the forestry.io side so our navigations sync correctly {% endcomment %}
<nav id="lmntRemoteNav" role="navigation">
  {% include 'lmnt-nav-sub' %}
  {% include 'lmnt-nav-uni' %}
</nav>
{% comment %} /nav {% endcomment %}
