<div class="row-fullwidth filter-container" id="filtercontainer" data-spy="affix" data-offset-top="620">
  <div class="col-full project-filter">
    <div class="col-full project-affix">
      <div class="page-nav-box">
        <div class="page-nav-head" onclick="filterKey()">
          <span id="fadehead" class="null">Filter Projects</span>
          <img src="{{ site.baseurl }}/assets/images/icons/arrrow-right.svg" class="drop-arrow" id="filterarrow" />
        </div>
        <div class="filter-hide-scroll">
          <div class="filter-options row" id="projectfilter" >
            <h3>Services</h3>
            <div class="filter-services">

              <div class="row">
              {% for i in site.data.services limit:3 %}
                <div class="col-third">
                  <ul>
                    <li>
                      <a href="{{ site.baseurl }}/services/{{ i.service.name | slugify: 'raw' }}">
                        <strong>{{ i.service.name }}</strong>
                      </a>
                    </li>
                    {% for entry in i.service.meta %}
                    <li>
                      <a href="{{ site.baseurl }}/services/{{ entry | slugify: 'raw' }}">
                        {{ entry }}
                      </a>
                    </li>
                    {% endfor%}
                  </ul>
                </div>
              {% endfor%}
              </div>

              <div class="row">
              {% for i in site.data.services offset:3 %}
                <div class="col-third">
                  <ul>
                    <li>
                      <a href="{{ site.baseurl }}/services/{{ i.service.name | slugify: 'raw' }}">
                        <strong>{{ i.service.name }}</strong>
                      </a>
                    </li>
                    {% for entry in i.service.meta %}
                    <li>
                      <a href="{{ site.baseurl }}/services/{{ entry | slugify: 'raw' }}">
                        {{ entry }}
                      </a>
                    </li>
                    {% endfor%}
                  </ul>
                </div>
              {% endfor%}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
