<div class="lmnt-home-slider">
  {% include 'ico-brandmark' background_color:'#FF8E6F' %}
  <div class="lmnt-home-slider-inner">

    <div class="lmnt-slide" style="background-color:white;">
      <div class="lmnt-slide-inner" style="background-image:url('https://source.unsplash.com/collection/1103088/1600x900');color:#fff;">
        <div class="lmnt-slide-overlay" style="opacity:.3;background-color:#000">
        </div>
        <a href="#">
          <div class="lmnt-slide-content">

            <div class="lmnt-slide-content-top">
              <span class="txt-caption">
                Hand Crafted
              </span>
              <h1 class="lmnt-anim-slide-from-bottom-3">
                Suited Linework Set
              </h1>
              <span class="lmnt-slide-bar" style="background-color:yellow"></span>
            </div>

            <div class="lmnt-slide-content-bottom">
              <div class="lmnt-slide-content-bottom-left txt-caption">
                View Product
              </div>
              <div class="lmnt-slide-content-bottom-left txt-caption">
                Transcending Experiences
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>


    <div class="lmnt-slide" style="background-color:pink;">
      <div class="lmnt-slide-inner" style="background-image:url('https://source.unsplash.com/collection/923267/1600x900');color:#fff;">
        <div class="lmnt-slide-overlay" style="opacity:.3;background-color:#000">
        </div>
        <a href="#">
          <div class="lmnt-slide-content">

            <div class="lmnt-slide-content-top">
              <span class="txt-caption">
                Hand Crafted
              </span>
              <h1 class="lmnt-anim-slide-from-bottom-3">
                Linocut Match Packs
              </h1>
              <span class="lmnt-slide-bar" style="background-color:#FF8E6F"></span>
            </div>

            <div class="lmnt-slide-content-bottom">
              <div class="lmnt-slide-content-bottom-left txt-caption">
                View Product
              </div>
              <div class="lmnt-slide-content-bottom-left txt-caption">
                Transcending Experiences
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>

    <div class="lmnt-slide" style="background-color:yellow;">
      <div class="lmnt-slide-inner" style="background-image:url('https://source.unsplash.com/collection/923267/1601x900');color:#fff;">
        <div class="lmnt-slide-overlay" style="opacity:.3;background-color:#000">
        </div>
        <a href="#">
          <div class="lmnt-slide-content">

            <div class="lmnt-slide-content-top">
              <span class="txt-caption">
                Letterpressed
              </span>
              <h1 class="lmnt-anim-slide-from-bottom-3">
                Hello Reno Poster
              </h1>
              <span class="lmnt-slide-bar" style="background-color:yellow"></span>
            </div>

            <div class="lmnt-slide-content-bottom">
              <div class="lmnt-slide-content-bottom-left txt-caption">
                View Product
              </div>
              <div class="lmnt-slide-content-bottom-left txt-caption">
                Transcending Experiences
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>

  </div>
</div>

<script>
$('.lmnt-home-slider-inner').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: true,
  fade: true,
  autoplay: true,
  speed: 400,
  autoplaySpeed: 6000
});
</script>
